<header>
    <nav class="d-flex flex-column align-center nav-container">
        <div>
            <a href="http://"><img class="logo" src=" {{asset('assets/images/LOGO_J.png')}} " alt=""></a>
        </div>
        <div class="d-flex flex-row flex-justify-content-between navBar align-center">
            <ul>
                <li> <a href="http://">Calendrier d'entrainement</a></li>
                <li><a href="http://"> Nous contacter</a></li>
            </ul>
            <ul>
                <li> <a href="http://"> S'inscrire</a></li>
                <li><a href="http://"> Connexion</a></li>
            </ul>
        </div>
    </nav>
</header>