{% extends 'base.html.twig' %}

{% block title %}Braganza Boxing Camp{% endblock %}

{% block body %}
<section class="container d-flex flex-column">
    <article class="sticker d-flex align-center justify-content-center">
        <p>Présentation</p>
    </article>

    <article class="content d-flex justify-content-center">
        <div>
            <img src=" {{asset('assets/images/Jm_Boxe_Entière.jpg')}} "
                alt="Braganza Jean-Michel Photo Championnant de France 2014 Demi-Finale" class="presentationPics">
        </div>
        <div class="text-content d-flex flex-column p-50">
            <p class="mt-5">
                Ancien boxeur professionnel & amateur, j’ai fait mes débuts au Ring Olympique de Gargan ou j’ai pu
                apprendre les bases de la boxe anglaise, j’ai fini 3em au championnat de France pour la première année.
            </p>
            <p class="mt-5">
                Ce sport est devenu ma passion et j’y ai consacré toute ma jeunesse entre entrainement & compétition (en
                équipe de France, Ceinture Montana, déplacement en Europe).
            </p>
            <p class="mt-5">
                Aujourd'hui diplomé d'un DJEPS en spécialisation boxe anglaise, je souhaite transmettre
            </p>
        </div>
    </article>
</section>



<section class="container d-flex flex-column">
    <article class="sticker d-flex align-center justify-content-center">
        <p>Nos valeurs</p>
    </article>

    <article class="content d-flex flex-row flex-wrap justify-space-around">
        <div class="card b-white d-flex flex-column justify-content-center align-center m-10">
            <h3>La persévérance</h3>
            <p></p>
        </div>
        <div class="card b-extra d-flex flex-column justify-content-center align-center m-10">
            <h3>Le perfectionnement</h3>
            <p></p>
        </div>
        <div class="card b-white d-flex flex-column justify-content-center align-center m-10">
            <h3>La remise en forme</h3>
            <p></p>
        </div>
        <div class="card b-extra d-flex flex-column justify-content-center align-center m-10">
            <h3>Les valeurs et le respect</h3>
        </div>
        {# <div class="card b-white d-flex flex-column justify-content-center align-center m-10">
            <h3>La persévérance</h3>
        </div>
        <div class="card b-extra d-flex flex-column justify-content-center align-center m-10">
            <h3>Le perfectionnement</h3>
        </div>
        <div class="card b-white d-flex flex-column justify-content-center align-center m-10">
            <h3>La remise en forme</h3>
        </div>
        <div class="card b-extra d-flex flex-column justify-content-center align-center m-10">
            <h3>Les valeurs et le respect</h3>
        </div> #}
    </article>
</section>




<section class="container d-flex flex-column">
    <article class="sticker d-flex align-center justify-content-center">
        <p>Participer</p>
    </article>


    <div class="content d-flex justify-content-center">
        <div class="">
            <p>

            </p>
        </div>
    </div>
    </article>
</section>
{% endblock %}