{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
<section class="container d-flex flex-column">
    <article class="sticker d-flex align-center justify-content-center">
        <p>Présentation</p>
    </article>

    <article class="content d-flex justify-content-center">
        <div>
            <img src=" {{asset('assets/images/Jm_Boxe_Entière.jpg')}} "
                alt="Braganza Jean-Michel Photo Championnant de France 2014 Demi-Finale" class="presentationPics">
        </div>
        <div class="text-content d-flex flex-column p-50">
            <p class="mt-5">
                Ancien boxeur professionnel & amateur, j’ai fait mes débuts au Ring Olympique de Gargan ou j’ai pu
                apprendre les bases de la boxe anglaise, j’ai fini 3em au championnat de France pour la première année.
            </p>
            <p class="mt-5">
                Ce sport est devenu ma passion et j’y ai consacré toute ma jeunesse entre entrainement & compétition (en
                équipe de France, Ceinture Montana, déplacement en Europe).
            </p>
            <p class="mt-5">
                Aujourd'hui diplomé d'un DJEPS en spécialisation boxe anglaise, je souhaite transmettre
            </p>
        </div>
    </article>
</section>



<section class="container d-flex flex-column">
    <article class="sticker d-flex align-center justify-content-center">
        <p>Nos valeurs</p>
    </article>

    <article class="content d-flex flex-row flex-wrap justify-space-around flex-fill">
        <div class="card b-white d-flex flex-column justify-content-btw align-center m-15">
            <h3 class="mt-15">Persévérance</h3>
            <p class="mt-20">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati neque voluptatem
                similique ducimus! Rem voluptas, quis voluptatibus repudiandae sed possimus doloremque quo itaque non
                minus nam, totam eveniet sapiente quod.</p>
        </div>
        <div class="card b-extra d-flex flex-column justify-content-btw align-center m-15">
            <h3 class="mt-15">Perfectionnement</h3>
            <p class="mt-20">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quis velit necessitatibus ratione
                totam consectetur numquam id harum hic a, incidunt asperiores voluptas labore deserunt magnam voluptatum
                tenetur, sint sequi voluptatem?</p>
        </div>
        <div class="card b-white d-flex flex-column justify-content-btw align-center m-15">
            <h3 class="mt-15">Remise en forme</h3>
            <p class="mt-20">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quis velit necessitatibus ratione
                totam consectetur numquam id harum hic a, incidunt asperiores voluptas labore deserunt magnam voluptatum
                tenetur, sint sequi voluptatem?</p>
        </div>
        <div class="card b-extra d-flex flex-column justify-content-btw align-center m-15">
            <h3 class="mt-15">Les valeurs et respect</h3>
            <p class="mt-20">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quis velit necessitatibus ratione
                totam consectetur numquam id harum hic a, incidunt asperiores voluptas labore deserunt magnam voluptatum
                tenetur, sint sequi voluptatem?</p>
        </div>
    </article>
</section>




<section class="container d-flex flex-column">
    <article class="sticker d-flex align-center justify-content-center">
        <p>Participer</p>
    </article>


    <div class="content d-flex justify-content-center mr-">
        <div class="b-extra description-content d-flex flex-row justify-content-around p-20">
            <div class="d-flex flex-column justify-content-around align-center">
                <h3 class="title">Comment participer à nos entrainement</h3>
                <p class="mt-5">
                    Pour participer à nos entrainements vous pouvez vous inscrire dans notre <a href="#">calendrier
                        d'entrainement</a> qui vous permettra de voir les entrainements à venir.
                </p>
                <p class="mt-5">
                    Vous pouvez <a href="#">nous contacter</a> si vous souhaitez travailler avec nous ou bénéfier de
                    notre expertise d'entraineur
                    pour votre préparation physique.
                </p>
                <p class="mt-20">
                </p>
            </div>

            <div class="p-20 d-flex justify-content-center">
                <img class="presentationPics" src=" {{asset('assets/images/LOGO_J.png')}} " alt="logo">
            </div>
        </div>
    </div>
    </article>
</section>
{% endblock %}