{% extends 'base.html.twig' %}

{% block title %}Création d'un training{% endblock %}

{% block body %}
<h1>Create new Training</h1>

{{ include('training/_form.html.twig') }}

<a href="{{ path('app_allTraining') }}">back to list</a>
{% endblock %}